* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
}
h2 {
    font-family: 'Petemoss', cursive;
    font-size: 60px;
}
li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    list-style-type: circle;
    width: 80%;
}
li::marker {
    font-size: 34px;
}
/* Background Colors */
.bg-color-1 {
     background: burlywood;
}
.bg-color-2 {
    background: rgb(248, 247, 246);
}
.bg-color-3 {
    background: rgb(255, 255, 0);
    opacity: 0.7;
}
.bg-color-4 {
    background: aliceblue;
}
.bg-color-5 {
    background: rgb(38, 38, 148);
    color: white !important;
}
.bg-color-6 {
    background: blanchedalmond;
}
.bg-color-7 {
    background: rgb(168, 126, 71);
}
.bg-color-8 {
    background: rgb(143, 81, 81);
}
.bg-color-9 {
    background: rgb(107, 236, 236);
}
.bg-color-10 {
    background:rgb(62, 49, 177)
}
.slider {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.left-side {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .7s ease-in-out;
    animation: slideInFromLeft 1s ease-in 0.5s;
}
.left-side  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.right-side {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transition: transform .7s ease-in-out;
    animation: slideInFromRight 1s ease-in 0.5s;
}
.right-side img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.btn button{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    background-color: gainsboro;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    animation: fade 5s ease-in 0.5s;
}
button:hover {
    color: blanchedalmond;
    background: black;
}
.up-btn {
    transform: translateY(-100%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.down-btn {
    transform: translateX(-100%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}



@media (max-width: 877px) {
    li {
        font-size: 16px;
    }
    h2 {
        font-size: 50px;
    }
}
@media (max-width: 681px) {
    .bg-color-5  li {
        font-size: 14px;
    }
    li {
        line-height: 1.3;
    }
    h2 {
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .bg-color-6 li:last-child {
        display: none;
    }
    .bg-color-9 li:nth-child(2) {
        display: none;
    } 
    .bg-color-3 li:last-child {
        display: none;
    }
}